name: Node CI Develop

on: 
  push:
    branches: 
      - develop

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - name: Install Dependencies
      run: yarn
    - name: Run tests
      run: yarn test
    - name: Build
      run: yarn build
      env:
        CI: true
    - name: copy files via ssh password
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        overwrite: true
        source: "build/"
        target: "/var/www/konfettiDEV/"
